@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cfl-red: #EF4C37;
  --cfl-red-dark: #D43A28;
  --cfl-teal: #0CBABA;
  --cfl-teal-dark: #099999;
  --cfl-yellow: #F7CB15;
  --cfl-purple: #7B6D8D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
